/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-height: 470px){
	.title-top{
		text-align: center;
		vertical-align: middle;
		color: #ddd;
		margin-top: 5%;
	}

	.title-top h3{
		color: #ddd;
		font-size: 36px;
		padding: 0 10%;
		font-family: Lato-Light;
	}

	.soc-items{
		top: 0; right: 0;
		margin-top: 37px;
	}

	.soc-items li{
		display: block;
		margin-right: -110px;
		margin-bottom: 7px;
	}

	.soc-items li a{
		font-size: 16px;
	}
	
	.items-menu ul{
		margin-top: 20px;
	}

	.items-menu ul li{
		font-size: 14px;
		padding: 10px 50px 10px 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#left{
		left: -100%;
		background-color: #212528;
	}

	#left.open{
		left: 0;
	}

	#right{
		height: 100%;
		width: 100%;
		float: right;
	}

	#right.open{

	}

	.open-menu{
		opacity: 1;
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		    -ms-transition: all .5s;
		     -o-transition: all .5s;
		        transition: all .5s;
	}

	.open-menu.open{
		left: 200px;
	} 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.title-top{
		margin-top: 12%;
	}

	.title-top h3{
		color: #ddd;
		font-size: 40px;
		padding: 0 15px;
		font-family: Lato-Light;
	}

	.title-top p{
		font-family: Lato-Thin;
		font-size: 20px;
		padding: 0 15px;
		margin-bottom: 50px;
	}



}

@media only screen and (max-width : 480px) {
	.title-top{
		margin-top: 10%;
	}
	.title-top h3{
		color: #ddd;
		font-size: 30px;
		padding: 0 15px;
		font-family: Lato-Light;
	}

	.title-top p{
		font-family: Lato-Thin;
		font-size: 15px;
		padding: 0 15px;
		margin-bottom: 50px;
	}

	a.btn-top{
		padding: 20px 30px;
		font-size: 18px;
	}

	.port-body p{
		font-size: 20px;
	}

	.about-body p{
		font-size: 20px;
	}

	.contact-body p{
		font-size: 20px;
	}

	.wrap i{
		top: 50%; left: 50%;
		font-size: 40px;
		color: rgba(255,255,255,.8);
		margin: -20px 0 0 -20px;
	}

}

@media only screen and (max-width : 320px) {
	.title-top{
		margin-top: 20%;
	}
	.title-top h3{
		color: #ddd;
		font-size: 26px;
		padding: 0 15px;
		font-family: Lato-Light;
	}

	.title-top p{
		font-family: Lato-Thin;
		font-size: 15px;
		padding: 0 15px;
		margin-bottom: 50px;
	}

	a.btn-top{
		padding: 20px 30px;
		font-size: 18px;
	}

	.port-body p{
		font-size: 20px;
	}

	.about-body p{
		font-size: 20px;
	}

	.contact-body p{
		font-size: 20px;
	}

	.wrap i{
		top: 50%; left: 50%;
		font-size: 40px;
		color: rgba(255,255,255,.8);
		margin: -20px 0 0 -20px;
	}

}


