html,body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	height: 100%;	
	font-family: Roboto-Regular;
}

header{
	background-image: url(../img/bg-header.jpg);
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 680px;
	background-attachment: scroll;
	position:relative;
}


/*=====COMMON=========*/

.title-blocks{
	text-align: center;
	color: #333333;
}

.title-blocks h3{
	font-size: 52px;
	font-family: Roboto-Black;
	font-weight: 900;

}

.title-blocks p{
	font-size: 18px;
	font-family: Roboto-Regular;
	color: #545454;
}

/*========================*/

/*MENU-TOP*/
.block_top{
	margin-top: 30px;
}

.onScrollTop{
	background-color: #222222;
	height: 110px;
	margin-top: -30px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

.brand{
	width: 220px;
}

.menu-top li{
	display: inline-block;
	line-height: 80px;
	height: 80px;
	font-size: 16px;
}

.menu-top li a{
	color: #fff;
	margin: 0 15px;
	-webkit-transition: all .50s;
	-moz-transition: all .50s;
	-ms-transition: all .50s;
	-o-transition: all .50s;
	transition: all .50s;
}

.menu-top li a:hover,
.menu-top li a:focus{
	text-decoration: none;
	color: #8B8B8B;
}

.title-top{
	text-align: center;
	color: #fff;
	position: absolute;;
	top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.title-top img{
	width: 200px;
}

.title-top h3{
	font-size: 75px;
	font-family: Roboto-Black;
}

.title-top p{
	font-size: 30px;
	font-family: Roboto-Regular;
	margin: 10px 0;
	margin-bottom: 30px;
}

.scroll-down{
  	position: absolute;
  	text-align: center;
  	bottom: 30px;
  	width: 100%;
}

.scroll-down .btn_down{
	color: #fff;
	font-size: 25px;
	padding: 16px 18px;
	border: 3px solid #fff;
	border-radius: 100% !important;
	-webkit-transition: all 0.5s;
  	-moz-transition: all 0.5s;
 	transition: all 0.5s;
}

.scroll-down .btn_down:hover{
	color: rgba(255, 255, 255, 0.5);
  	border-color: rgba(255, 255, 255, 0.5);
}

.line-horiz{
	margin: 3px auto;
  	max-width: 200px;
}

/*ABOUT*/
#about{
	padding: 70px 0;
}

.item-about{
	text-align: center;
	margin-top: 50px;
}

.item-about h3{
	text-transform: uppercase;
	font-family: Roboto-Black;
}

.item-about p{
	font-size: 18px;
	color: #545454;
	font-family: Roboto-Regular;
	padding: 0 30px;
}

/*TEAMS*/
#teams{
	padding: 70px 0 50px 0;
	background-color: #F5F5F5;
}

.team-carousel{
	padding: 50px 100px;
}

.block-carousel{
	height: 100%;
	position: relative;
}

.btn-prev{
	background-color: rgba(239, 57, 57,0.5);
	position: absolute;
	width: 30px;
	height: 50px;
	line-height: 60px;
	top: 45%;
	padding: 0 8px;
	margin: -25px 0 0 100px;
	color: #F5F5F5;
	z-index: 2;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.btn-prev:hover{
	background-color: rgba(239, 57, 57,0.8);
	cursor: pointer;
}

.btn-next{
	text-align: right;
	background-color: rgba(239, 57, 57,0.5);
	position: absolute;
	width: 30px;
	height: 50px;
	line-height: 60px;
	top: 45%;
	right: 0;
	padding: 0 8px;
	margin: -25px 100px 0 0px;
	color: #F5F5F5;
	z-index: 2;-webkit-transition: all .5s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.btn-next:hover{
	background-color: rgba(239, 57, 57,0.8);
	cursor: pointer;
}

.item-carousel{
	position: relative;
	text-align: center;
	color: #BCC1BF;
}

.item-carousel .wrap{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.item-carousel .wrap h3{
	font-size: 26px;
	font-family: Roboto-Black;
	margin-top: 40%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.item-carousel .wrap p{
	margin-top: 10px;
	font-size: 18px;
	font-family: Roboto-Regular;
}

.item-carousel .wrap hr{
	width: 50px;
}

.item-carousel .wrap i{
	font-size: 16px;
	padding: 0 10px;
}

.item-carousel .wrap a{
	color: #BCC1BF;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

.item-carousel .wrap a:hover,
.item-carousel .wrap a:focus{
	color: #fff;
}

/*DESIGN*/
#design{
	padding: 250px 0;
	text-align: center;
	color: #fff;
	font-family: Roboto-Regular;
	background-image: url(../img/bg-aside.jpg);
	background-attachment: scroll;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

#design p{
	font-size: 38px;
	padding: 0 100px;
}

#design span{
	color: #de4337;
}

#design .btn-work{
	border: 1px solid white;
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 16px;
	background-color: rgba(0,0,0,0);
	text-transform: uppercase;
	font-family: Roboto-Black;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

#design .btn-work:hover{
	background-color: rgba(255,255,255,1);
	color: #de4337;
}

/*PROCESS*/

#process{
	padding: 70px 0;
}

#process .title-blocks p{
	margin-top: 20px;
}

.block-proccess{
}

.item-process div{
	display: inline-block;
}

.item-process .left-img{
	float: left;
	font-size: 70px;
	vertical-align: top;
	margin-right: 10px;
}

.item-process .center-body{
	margin-left: 20px;
}

.item-process .center-body h3{
	font-family: Roboto-Black;
}

.item-process .center-body li{
	margin-left: -25px;
	font-size: 16px;
	color: #373737;
	padding: 5px 0;
}

/*WORK*/
#work{
	padding: 70px 0;
	background-color: #F5F5F5;
}