body {
	font-family: "Lato-Light", sans-serif;
	font-size: 16px;
	width: 100%;
	height: 100%;			
	position: absolute;
}

/*MENU*/

.menu{
	position: fixed;
	right: -220px;
	width: 300px;
	height: 100%;
	z-index: 9999;
	-webkit-transition: all .50s;
	   -moz-transition: all .50s;
	    -ms-transition: all .50s;
	     -o-transition: all .50s;
	        transition: all .50s;
}

.menu.open{
	right: 0;
}

.btn-open{
	display: inline-block;
	width: 50px;
	height: 50px;
}

.body-menu{
	display: inline-block;
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: #1A1A1A;
	margin-left: 30px;
	padding: 10px 30px;
	color: #fff;
}

.body-menu h3{
	font-family: Raleway-Medium;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 30px;
}	

.btn-open i{
	color: #fff;
	padding: 15px;
	background-color: rgba(0, 0, 0, .2);
	margin: 20px;
	cursor: pointer;	
}

.navigation li{
	list-style-type: none;
	margin-left: -40px;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.navigation li a{
	color: #d2d2d2;
	font-family: Raleway-Medium;
	-webkit-transition: all .50s;
	   -moz-transition: all .50s;
	    -ms-transition: all .50s;
	     -o-transition: all .50s;
	        transition: all .50s;
}

.navigation li a:hover,
.navigation li a:focus{
	color: #fff;
	text-decoration: none;
}

.body-menu i{
	color: #d2d2d2;
	padding: 20px 10px;
	font-size: 12px;
	margin-left: -10px;
	-webkit-transition: all .50s;
	   -moz-transition: all .50s;
	    -ms-transition: all .50s;
	     -o-transition: all .50s;
	        transition: all .50s;
}


.body-menu i:hover{
	color: #fff;
	cursor: pointer;
}

.to-top{
	position: fixed;
	bottom: 0;
	right: 0;
}

.to-top i{
	font-size: 24px;
	padding: 15px;
	
}

.body-menu .close i{
	font-size: 18px;
}
/*TOP*/

#main{
	background: url(../img/header-bg.jpg);
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}

.title-top{
	margin-top: 150px;
}

.title-top h1, .title-top p{
	color: #fff;
	text-align: center;
}

.title-top h1{
	font-family: Lato-Bold;
	font-size: 150px;
}

.title-top p{
	font-family: Lato-Light;
	font-size: 50px;
}

/*TEXT-BLOCKS*/
.text-blocks{
	padding: 35px 0;
	text-align: center;
	font-size: 22px;
	color: #7B7B7B;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: Raleway-Medium;
}

.text-blocks > span{
	color: #2F2F2F;
}

/*SERVICE*/
#service{
	padding: 50px 15px;
	background-color: #F2F2F2;
	text-align: center;
	font-family: Lato-Light;
}

#service span{
	color: #6E6E6E;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;
}

.item-service{
	margin-top: 50px;
}

.item-service h3{
	font-size: 24px;
}

.item-service p{
	font-size: 16px;
	color: #555555;
	text-align: justify;
	padding: 0 10px;
}

/*CHARTS*/

#charts{
	padding: 60px 30px;
	background-color: #E0E0E0;
	text-align: center;
	font-family: Lato-Light;
}

#charts span{
	color: #6E6E6E;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;
}

#charts p{
	font-size: 20px;
}

.title-charts{
	margin-bottom: 30px;
}

circle {
	fill: rgba(0,0,0,0);
	stroke: #eee;
	stroke-width: 15;
	stroke-dasharray: 408px 408px;
}

circle:nth-child(2n) {
	fill: rgba(0,0,0,0);
	stroke: #F85C37;
	stroke-width: 15;
}

/*WORKS*/
#works{
	background-image: url(../img/portfolio-bg.jpg);;
	padding: 50px 0;
	text-align: center;
}

#works span{
	font-family: Raleway-Medium;
	color: #fff;
	font-size: 25px;
}

.items-work{
	text-align: center;
	padding: 50px 0;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.items-work img:hover{
	-webkit-transform: scale(1.01);
	   -moz-transform: scale(1.01);
	    -ms-transform: scale(1.01);
	     -o-transform: scale(1.01);
	        transform: scale(1.01);
}

/*ABOUT*/
#about{
	padding: 50px 50px;
	background-color: #F2F2F2;
	text-align: center;
	font-family: Lato-Light;
}

.title-about span{
	color: #6E6E6E;
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;
}

.title-about p{
	padding: 50px 300px;
	font-size: 16px;
}

.item-about{
	margin-top: 30px;
	padding: 20px 0;
	-webkit-transition: background-color .25s;
		   -moz-transition: background-color .25s;
		    -ms-transition: background-color .25s;
		     -o-transition: background-color .25s;
		        transition: background-color .25s;	
}

.item-about:hover{
	background-color: #fff;
}

.item-about h5{
	font-style: italic;
	font-size: 16px;
}

.item-about p{
	padding-top: 15px;
	font-size: 16px;
}

.item-about i{
	font-size: 16px;
	padding: 10px 10px;
	color: #F85C37;
	-webkit-transition: all .50s;
	    -moz-transition: all .50s;
	     -ms-transition: all .50s;
	      -o-transition: all .50s;
	         transition: all .50s; 
}

.item-about i:hover{
	color: #2e2e2e;
	cursor: pointer;
}

/*CONTACT*/
#contacts{
	background-color: #2F2F2F;
	color: #fff;
	padding: 50px 50px;
	text-align: center;
	font-family: Lato-Light;
}

.title-contacts span{
	font-size: 25px;
	letter-spacing: 1px;
	font-weight: bold;
}

.item-contacts{
	margin-top: 20px;
}

.item-contacts h3{
	font-weight: bold;
}

.item-contacts p{
	font-size: 18px;
}

.item-contacts i{
	font-size: 18px;
	padding: 0 5px;
	-webkit-transition: all 0.50s;
	    -moz-transition: all 0.50s;
	     -ms-transition: all 0.50s;
	      -o-transition: all 0.50s;
	         transition: all 0.50s;
}

.item-contacts i:hover{
	color: #F85C37;
	cursor: pointer;
}

/*CREATED*/
#created{
	background-color: #222222;
	padding: 20px 100px;
	color: #fff;
	text-align: right;
}

#created a{
	color: #F85C37;
	-webkit-transition: all .50s;
	   -moz-transition: all .50s;
	    -ms-transition: all .50s;
	     -o-transition: all .50s;
	        transition: all .50s;
}

#created a:hover{
	color: #fff;
	text-decoration: none;
}
